#!/bin/bash

alias gimme='sudo sh -c "apt-get -y update; apt-get -y dist-upgrade; apt-get -y autoremove; apt-get -y autoclean"'

alias g='git'

alias y='yarn'
alias yb='yarn build'
alias yi='yarn add'
alias yid='yarn add -D'
alias yd='yarn dev'
alias yf='yarn format'
alias yff='yarn format:fix'
alias yl='yarn lint'
alias ylf='yarn lint:fix'
alias ys='yarn start'
alias yt='yarn test'
alias ytc='yarn test:cov'
alias yy='yarn yeet'

alias p='pnpm'
alias pb='pnpm build'
alias pi='pnpm add'
alias pid='pnpm add -D'
alias pd='pnpm dev'
alias pf='pnpm format'
alias pff='pnpm format:fix'
alias pl='pnpm lint'
alias plf='pnpm lint:fix'
alias ps='pnpm start'
alias pt='pnpm test'
alias ptc='pnpm test:cov'
alias py='pnpm yeet'

alias pc='pnpm lint:fix; pnpm format:fix; pnpm build'

alias python='python3'
alias pip='pip3'

alias dc='docker'
alias dc='docker compose'
alias dcr='docker compose run'
alias dcu='docker compose up'
alias dcd='docker compose down'
alias dce='docker compose eject'

