! My colors, following this color scheme : https://coolors.co/011627-a5a5a5-f6f7f8-2274a5-d64937
*cs-pri-accent:     #D64937
*cs-sec-accent:     #2274A5
*cs-darker:         #011627
*cs-dark:           #A5A5A5
*cs-light:          #f6f7f8

! Solarized https://www.rarst.net/code/solarized/
*solarized-yellow:  #AA891F
*solarized-orange:  #B45027
*solarized-red:     #C13C39
*solarized-magenta: #B93F81
*solarized-violet:  #6D71C1
*solarized-blue:    #5289CF
*solarized-cyan:    #5D9F96
*solarized-green:   #89971D
