@font-face {
  font-family: 'Lato';
  src: url('https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2') format('woff2');
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #f6f7f8;
  background: #011627;
  font-family: 'Lato', sans-serif;
}

main, h1 {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 310px;
  margin: 0 auto;
  transform: translateY(-100px);
  text-align: center;
}

h1 {
  width: 100%;
  top: 45%;
  font-weight: bold;
}

time {
  display: block;
  margin-bottom: 20px;
  font-size: 5rem;
  letter-spacing: 6px;
}

input,
input:focus {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  background: #f6f7f8;
  color: #011627;
  font-family: 'Lato', sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-input {
  padding: 12px;
  border-radius: 2px;
  font-size: 1.1rem;
}

body[search-suggestions='true'] .search-input {
  border-radius: 2px 2px 0 0;
}

.search-suggestions {
  border-radius: 0 0 2px 2px;
  overflow: hidden;
}

.search-suggestion {
  padding: 14px 12px;
  transition: .2s;
  font-size: .8rem;
  text-align: left;
  cursor: pointer;
}

.search-suggestion:hover,
.search-suggestion:focus {
  background: #D64937;
  color: #011627;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8vw;
  transition: visibility .2s, opacity .2s, transform .4s;
  transform: translateY(10px);
  background: #011627;
  opacity: 0;
  font-size: 1.2rem;
}

.overlay[data-toggled='true'] {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}

.category {
  width: 100%;
  margin-bottom: 3em;
}

.category-name {
  margin: 0 0 2em;
  font-size: .7em;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.command a {
  display: block;
  position: relative;
  padding: .5em 0;
  color: #f7f8f9;
  font-size: 1em;
  line-height: 2em;
  text-decoration: none;
}

.command-key {
  display: block;
  float: left;
  width: 2.5em;
  margin-right: 1em;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .1);
  font-size: .8em;
  text-align: center;
}

.command-name {
  position: relative;
  overflow: hidden;
}

.command-name::after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: -.35em;
  left: 0;
  height: 2px;
  transition: .2s;
  transform: translateX(-2em);
  background: #D64937;
  opacity: 0;
}

.command:hover .command-name {
  color: #D64937;
}

.command:hover .command-key {
  background: #D64937;
}

.command:hover .command-name::after {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 850px) {
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 1.3vw;
  }

  .lists {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .category {
    width: 10em;
    margin-bottom: 0;
  }
}
